:root {
	--primary-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--tertiary-font: 'Arial Narrow', sans-serif;
	--text-color: #3d342b;
	--highlight-color: #84ff00;
	--link-color: #4c00fd;
	--white-color: #fff;
	font-family: var(--primary-font);
	color: var(--text-color);
	font-size: 1em;
}

::selection {
	background-color: var(--link-color);
	color: var(--white-color);
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* --------centered menu-------- */
.menu__wrapper {
	z-index: 3;
	position: fixed;
	display: grid;
	grid-template-columns: 192px 100px;
	column-gap: 2rem;
}

.menu__wrapper {
	width: 340px;
	top: 1rem;
	left: 1rem;
}

.menu__text {
	font-family: var(--tertiary-font);
	grid-row: 1/3;
	cursor: zoom-in;
}

.menu__text:hover p {
	opacity: 1;
}

.menu__text:hover a {
	text-decoration: underline;
	text-underline-offset: 6px;
	text-decoration-thickness: 0.9px;
	text-decoration-color: #e6ff0d;
}

.menu__text p {
	opacity: 0;
	transition: 0.3ms linear;
	margin: 7px 0;
	text-align: justify;
}

.menu__items {
	display: inline-flex;
	flex-direction: row;
	grid-row: 1;
}

.menu__items a + p {
	margin: 0 4px;
}

.menu__items a {
	text-decoration: none;
	color: var(--text-color);
	font-family: var(--tertiary-font);
	cursor: default;
}

.menu__items a:hover {
	background-color: var(--text-color);
	color: var(--white-color);
}

/* --------background img-gallery-------- */

.img-gallery__wrapper img {
	min-width: 100vw;
	min-height: 100vh;
	transform: translateY(-14%);
}

.img-gallery__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* --------break points-------- */
@media (max-width: 1480px) {
	.img-gallery__wrapper img {
		min-height: 100vh;
		transform: translateY(-8%);
	}
}

@media (max-width: 640px) {
	.menu__wrapper {
		width: 100%;
margin-top: 1rem;
		left: 0rem;
		position: absolute;
		grid-template-columns: 2fr 1fr;
		column-gap: 1rem;
	}

	.menu__text {
		
		padding-left: 1rem;
	}
	.menu__text p {
		width: 80%;
		text-align: left;
	}
	.menu__items {
		justify-content: flex-end;
		padding-right: 1rem;
	}
}
